<section class="section mb-3" id="about">
  <h2 class="section-heading text-center mb-5 mt-4 black-text font-italic wow fadeIn" data-wow-delay="0.2s"></h2>
  <div class="row wow FadeIn" data-wow-delay="0.4s">
    <div class="col-md-12 pb-3 text-center black-text font-italic">
      <p class="lead mb-3">Ние сме "Весела Сладкарничка"</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised
        in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
        and more recently with desktop publishing software like Aldus PageMaker
        including versions of Lorem Ipsum.</p>
    </div>
  </div>
</section>
