<section class="section mb-3" id="about">
  <h2 class="section-heading text-center mb-5 mt-4 black-text font-italic wow fadeIn" data-wow-delay="0.2s"></h2>
  <div class="row wow FadeIn" data-wow-delay="0.4s">
    <div class="col-md-12 pb-3 text-center black-text font-italic">
      <p class="lead mb-3">Здравейте!</p>
      <p>Казвам се Весела Игнатова и Ви представям своята "Весела Сладкарничка".</p>
      <p>

В своята сладкарска работилница изработвам с много любов и въображение изцяло домашни сладки изкушения по Ваша поръчка.
Сладкарничката "отвори врати" през 2020-та година, но зад всеки един продукт стоят хиляди горещи мигове до печката, стотици рецепти и... една усмихната домакиня с точилка в ръка.
<br>Свържете се с мен за повече информация.
По Ваша идея или с моето въображение ще Ви приготвя:
<br>
<br>- Торта за всеки повод
<br>- Коледни меденки
<br>- Мъфини
<br>- Бисквитки
<br>- Кекс
<br>- Щолен
<br>- Панетоне
<br>...
<br>
<br>Очаквам Ви!
<br>Сладък ден от мен!
      </p>
    </div>
  </div>
</section>
