<footer class="page-footer text-center text-md-left elegant-color-dark mt-5">
<!--social media -->
<div class="container mb-2" id="footer">
  <div class="row">
    <div class="col-md-12 my-2 fadeIn wow" data-wow-delay="0.3s">
      <h6 class="white-text wow fadeIn font-italic text-center" data-wow-delay="0.2s"><a href = "mailto: vesela.sladkarnichka@gmail.com">vesela.sladkarnichka@gmail.com</a></h6>
      <div class="footer-sociams flex-center">
        <a href="https://www.facebook.com/vesela.sladkarnichka" type="button" class="btn-floating btn-blue"><i class="fab fa-facebook"></i></a>
        <a href="http://m.me/vesela.sladkarnichka" type="button" class="btn-floating btn-pink"><i class="fab fa-facebook-messenger"></i></a>
        <a href="https://www.instagram.com/vesela.sladkarnichka/" type="button" class="btn-floating btn-amber"><i class="fab fa-instagram"></i></a>
        <a href="tel:123-456-7890" type="button" class="btn-floating btn-green"><i class="fas fa-phone"></i></a>
      </div>
    </div>
  </div>
</div>
<!--Quote -->
<div class="container-fluid py-5"
     style="background-image: url('https://cdn.pixabay.com/photo/2020/12/28/20/28/20-28-04-642_960_720.jpg');
     background-repeat:no-repeat;
     background-size:cover;
     background-position: center center;">
  <div class="flex-center">
    <ul class="list-unstyled">
      <li>
        <h3 class="h2-responsive mb-4 mt-5 wow fadeIn font-italic font-bold" style="color:black">
          <i class="fas fa-quote-left" aria-hidden="true"></i>
          Животът е сладък
          <i class="fas fa-quote-right" aria-hidden="true"></i>
        </h3>
      </li>
      <li>
        <h5 class="black-text wow fadeIn" data-wow-delay="0.2s">~ Весела Сладкарничка</h5>
      </li>
    </ul>
  </div>
</div>
<!--copywright-->
<div class="footer-copyright py-3 text-center">
  <div class="container-fluid">
    2020 Copyrights | <a href="https://www.linkedin.com/in/ivailo-ignatov/">Ivailo Ignatov</a>
  </div>
</div>
</footer>
