<header>
  <div class="view jarallax" data-jarallax='{"speed":0.2}'
    style="background-image: url('https://cdn.pixabay.com/photo/2020/12/28/20/28/20-28-04-642_960_720.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
    min-height:800px;">
      <div class="header-sociams flex-center">
        <a href="https://www.facebook.com/vesela.sladkarnichka" type="button" class="btn-floating btn-blue"><i class="fab fa-facebook"></i></a>
        <a href="http://m.me/vesela.sladkarnichka" type="button" class="btn-floating btn-pink"><i class="fab fa-facebook-messenger"></i></a>
        <a href="https://www.instagram.com/vesela.sladkarnichka/" type="button" class="btn-floating btn-amber"><i class="fab fa-instagram"></i></a>
        <a href="tel:123-456-7890" type="button" class="btn-floating btn-green"><i class="fas fa-phone"></i></a>
      </div>
    <div class="mask rgba-black-strong">
      <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="row smooth-scroll">
          <div class="col-md-12">
            <div class="white-text text-center">
              <h2 class="display-3 font-weight-bold font-italic pb-4 mb-2 wow fadeIn">Весела Сладкарничка</h2>
              <h4 class="font-italic intro-subtext wow fadeIn" data-wow-delay="0.2s">Домашна Работилница</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
